<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/236a8eb5-5ccf-4938-bd4f-b62261579e3d/resourcegroups/FundMeResourceGroup/providers/Microsoft.Web/sites/FundMe</ResourceId>
    <ResourceGroup>FundMeResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fundme.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fundme.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FundMe</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FundMe</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=fnd.database.windows.net;Initial Catalog=aspnet-FuneMe-Identity;User ID=fundme;Password=Sifra123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FundMe.Models.ApplicationDbContext, FundMe" MigrationConfiguration="FundMe.Migrations.Configuration, FundMe" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FundMeContext" Order="4" Enabled="True">
          <Destination Path="Data Source=fnd.database.windows.net;Initial Catalog=FundMe;User ID=fundme;Password=Sifra123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FundMe.DAL.FundMeContext, FundMe" MigrationConfiguration="FundMe.Migrations.FundMeConfigurations.FundMeConfiguration, FundMe" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FundMe.Entities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=fnd.database.windows.net;Initial Catalog=aspnet-FuneMe-Identity;User ID=fundme;Password=Sifra123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FundMeContext-Web.config Connection String">
      <ParameterValue>Data Source=fnd.database.windows.net;Initial Catalog=FundMe;User ID=fundme;Password=Sifra123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>